In [176]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mtp

data = pd.read_csv("2018-2022(EN).csv")
data

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,PSA,WHH,WHD,WHA,VCH,VCD,VCA,PSCH,PSCD,PSCA
0,E0,10/8/2018,Man United,Leicester,2,1,H,1,0,H,...,7.50,1.57,3.8,6.00,1.57,4.0,7.00,1.55,4.07,7.69
1,E0,11/8/2018,Bournemouth,Cardiff,2,0,H,1,0,H,...,4.58,1.91,3.5,4.00,1.87,3.6,4.75,1.88,3.61,4.70
2,E0,11/8/2018,Fulham,Crystal Palace,0,2,A,0,1,A,...,3.00,2.45,3.3,2.80,2.50,3.4,3.00,2.62,3.38,2.90
3,E0,11/8/2018,Huddersfield,Chelsea,0,3,A,0,2,A,...,1.62,5.80,3.9,1.57,6.50,4.0,1.62,7.24,3.95,1.58
4,E0,11/8/2018,Newcastle,Tottenham,1,2,A,1,2,A,...,2.08,3.80,3.2,2.05,3.90,3.4,2.10,4.74,3.53,1.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515,E0,22/5/2022,Crystal Palace,Man United,1,0,H,1,0,H,...,2.24,3.00,3.5,2.25,3.00,3.5,2.20,2.82,3.57,2.59
1516,E0,22/5/2022,Leicester,Southampton,4,1,H,0,0,D,...,3.91,1.88,3.8,3.75,1.83,3.8,3.80,1.70,4.39,4.67
1517,E0,22/5/2022,Liverpool,Wolves,3,1,H,1,1,D,...,21.36,1.15,7.0,19.00,1.13,8.0,19.00,1.14,9.75,19.00
1518,E0,22/5/2022,Man City,Aston Villa,3,2,H,0,1,A,...,20.27,1.15,7.0,19.00,1.13,7.5,18.00,1.17,8.40,17.00
1519,E0,22/5/2022,Norwich,Tottenham,0,5,A,0,2,A,...,1.27,10.00,6.0,1.25,11.50,6.0,1.22,9.82,5.51,1.34

In [178]:
def goal_difference(data, half_time_home_goals, half_time_away_goals, full_time_home_goals, full_time_away_goals):
    
    # Calculating Goal Difference in HALF TIME
    if (half_time_home_goals > half_time_away_goals):
        half_time_goal_difference = half_time_home_goals - half_time_away_goals
    elif (half_time_away_goals > half_time_home_goals):
        half_time_goal_difference = half_time_away_goals - half_time_home_goals
    else:
         half_time_goal_difference = half_time_home_goals - half_time_away_goals
            
    # Calculating Goal Difference in FULL TIME
    if (full_time_home_goals > full_time_away_goals):
        full_time_goal_difference = full_time_home_goals - full_time_away_goals
    elif (full_time_away_goals > full_time_home_goals):
        full_time_goal_difference = full_time_away_goals - full_time_home_goals
    else:
         full_time_goal_difference = full_time_home_goals - full_time_away_goals
            
            
    return half_time_goal_difference, full_time_goal_difference

In [179]:
htgd = []
ftgd = []
for index,row in data.iterrows():
    half_time_home_goals = row['HTHG']
    half_time_away_goals = row['HTAG']
    full_time_home_goals = row['FTHG']
    full_time_away_goals = row['FTAG']
    half_time_goal_difference, full_time_goal_difference = goal_difference(data, half_time_home_goals, half_time_away_goals, full_time_home_goals, full_time_away_goals)
    htgd.insert(index, half_time_goal_difference)
    ftgd.insert(index, full_time_goal_difference)
data['HTGD'] = htgd
data['FTGD'] = ftgd

In [180]:
data.head(40)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,WHD,WHA,VCH,VCD,VCA,PSCH,PSCD,PSCA,HTGD,FTGD
0,E0,10/8/2018,Man United,Leicester,2,1,H,1,0,H,...,3.80,6.00,1.57,4.00,7.00,1.55,4.07,7.69,1,1
1,E0,11/8/2018,Bournemouth,Cardiff,2,0,H,1,0,H,...,3.50,4.00,1.87,3.60,4.75,1.88,3.61,4.70,1,2
2,E0,11/8/2018,Fulham,Crystal Palace,0,2,A,0,1,A,...,3.30,2.80,2.50,3.40,3.00,2.62,3.38,2.90,1,2
3,E0,11/8/2018,Huddersfield,Chelsea,0,3,A,0,2,A,...,3.90,1.57,6.50,4.00,1.62,7.24,3.95,1.58,2,3
4,E0,11/8/2018,Newcastle,Tottenham,1,2,A,1,2,A,...,3.20,2.05,3.90,3.40,2.10,4.74,3.53,1.89,1,1
5,E0,11/8/2018,Watford,Brighton,2,0,H,1,0,H,...,3.00,3.30,2.40,3.20,3.40,2.58,3.08,3.22,1,2
6,E0,11/8/2018,Wolves,Everton,2,2,D,1,1,D,...,3.20,3.20,2.38,3.30,3.30,2.44,3.23,3.32,0,0
7,E0,12/8/2018,Arsenal,Man City,0,2,A,0,1,A,...,3.80,1.91,3.90,4.00,1.91,4.43,4.13,1.81,1,2
8,E0,12/8/2018,Liverpool,West Ham,4,0,H,2,0,H,...,5.50,12.00,1.25,6.50,13.00,1.25,6.95,12.00,2,4
9,E0,12/8/2018,Southampton,Burnley,0,0,D,0,0,D,...,3.25,4.80,1.85,3.40,5.20,2.03,3.19,4.65,0,0
10,E0,18/8/2018,Cardiff,Newcastle,0,0,D,0,0,D,...,3.00,2.45,3.25,3.10,2.55,3.27,3.21,2.47,0,0
11,E0,18/8/2018,Chelsea,Arsenal,3,2,H,2,2,D,...,3.75,4.00,1.80,4.00,4.50,1.83,3.84,4.64,0,1
12,E0,18/8/2018,Everton,Southampton,2,1,H,2,0,H,...,3.40,4.00,1.91,3.50,4.60,1.84,3.63,4.92,2,1
13,E0,18/8/2018,Leicester,Wolves,2,0,H,2,0,H,...,3.40,3.60,2.05,3.50,4.00,2.14,3.41,3.81,2,2
14,E0,18/8/2018,Tottenham,Fulham,3,1,H,1,0,H,...,6.00,10.00,1.29,6.00,12.00,1.27,6.50,11.96,1,2
15,E0,18/8/2018,West Ham,Bournemouth,1,2,A,1,0,H,...,3.60,3.40,2.10,3.60,3.70,2.10,3.60,3.74,1,1
16,E0,19/8/2018,Brighton,Man United,3,2,H,3,1,H,...,3.60,1.75,5.50,3.60,1.75,5.90,3.70,1.71,2,1
17,E0,19/8/2018,Burnley,Watford,1,3,A,1,1,D,...,3.00,3.25,2.40,3.10,3.50,2.48,3.11,3.36,0,2
18,E0,19/8/2018,Man City,Huddersfield,6,1,H,3,1,H,...,12.00,29.00,1.06,13.00,34.00,1.08,13.93,36.05,2,5
19,E0,20/8/2018,Crystal Palace,Liverpool,0,2,A,0,1,A,...,4.75,1.44,7.00,5.00,1.45,8.01,5.28,1.41,1,2
20,E0,25/8/2018,Arsenal,West Ham,3,1,H,1,1,D,...,5.00,7.50,1.36,5.50,9.00,1.37,5.65,8.67,0,2
21,E0,25/8/2018,Bournemouth,Everton,2,2,D,0,0,D,...,3.60,2.62,2.60,3.60,2.75,2.68,3.51,2.75,0,0
22,E0,25/8/2018,Huddersfield,Cardiff,0,0,D,0,0,D,...,3.10,3.30,2.38,3.10,3.60,2.46,3.03,3.50,0,0
23,E0,25/8/2018,Liverpool,Brighton,1,0,H,1,0,H,...,8.00,17.00,1.15,8.50,23.00,1.15,9.48,22.00,1,1
24,E0,25/8/2018,Southampton,Leicester,1,2,A,0,0,D,...,3.30,3.10,2.45,3.25,3.25,2.35,3.28,3.44,0,1
25,E0,25/8/2018,Wolves,Man City,1,1,D,0,0,D,...,6.00,1.25,13.00,6.25,1.29,12.01,5.82,1.30,0,0
26,E0,26/8/2018,Fulham,Burnley,4,2,H,3,2,H,...,3.25,3.90,2.00,3.40,4.33,2.26,3.23,3.71,1,2
27,E0,26/8/2018,Newcastle,Chelsea,1,2,A,0,0,D,...,3.75,1.67,5.50,4.00,1.67,6.66,4.25,1.57,0,1
28,E0,26/8/2018,Watford,Crystal Palace,2,1,H,0,0,D,...,3.30,2.80,2.60,3.30,2.90,2.37,3.37,3.30,0,1
29,E0,27/8/2018,Man United,Tottenham,0,3,A,0,0,D,...,3.40,2.70,2.60,3.30,2.90,2.62,3.35,2.93,0,3
30,E0,1/9/2018,Brighton,Fulham,2,2,D,0,1,A,...,3.30,3.20,2.25,3.40,3.50,2.17,3.52,3.61,1,0
31,E0,1/9/2018,Chelsea,Bournemouth,2,0,H,0,0,D,...,5.80,8.50,1.30,6.00,11.00,1.32,5.98,10.48,0,2
32,E0,1/9/2018,Crystal Palace,Southampton,0,2,A,0,0,D,...,3.40,4.00,2.00,3.40,4.33,2.58,3.18,3.11,0,2
33,E0,1/9/2018,Everton,Huddersfield,1,1,D,1,1,D,...,3.80,7.50,1.53,4.20,7.50,1.57,3.96,7.47,0,0
34,E0,1/9/2018,Leicester,Liverpool,1,2,A,0,2,A,...,4.75,1.40,7.50,5.00,1.45,8.17,4.75,1.45,2,1
35,E0,1/9/2018,Man City,Newcastle,2,1,H,1,1,D,...,10.00,26.00,1.11,11.00,29.00,1.12,10.43,29.28,0,1
36,E0,1/9/2018,West Ham,Wolves,0,1,A,0,0,D,...,3.50,2.80,2.50,3.50,2.90,2.60,3.26,3.02,0,1
37,E0,2/9/2018,Burnley,Man United,0,2,A,0,2,A,...,3.70,1.65,6.25,3.80,1.65,6.72,4.02,1.60,2,2
38,E0,2/9/2018,Cardiff,Arsenal,2,3,A,1,1,D,...,4.33,1.53,6.50,4.33,1.55,6.34,4.47,1.56,0,1
39,E0,2/9/2018,Watford,Tottenham,2,1,H,0,0,D,...,4.20,1.62,5.75,4.20,1.62,5.60,3.97,1.69,0,1

In [181]:
#Feature Selection 

drop_cols1 = ['Div', 'Date']
newdf1 = data.drop(columns = drop_cols1)
input_dataset = newdf1.drop(newdf1.loc[:,'B365H':'PSCA'].columns, axis=1)
input_dataset

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,...,HF,AF,HC,AC,HY,AY,HR,AR,HTGD,FTGD
0,Man United,Leicester,2,1,H,1,0,H,A Marriner,8,...,11,8,2,5,2,1,0,0,1,1
1,Bournemouth,Cardiff,2,0,H,1,0,H,K Friend,12,...,11,9,7,4,1,1,0,0,1,2
2,Fulham,Crystal Palace,0,2,A,0,1,A,M Dean,15,...,9,11,5,5,1,2,0,0,1,2
3,Huddersfield,Chelsea,0,3,A,0,2,A,C Kavanagh,6,...,9,8,2,5,2,1,0,0,2,3
4,Newcastle,Tottenham,1,2,A,1,2,A,M Atkinson,15,...,11,12,3,5,2,2,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515,Crystal Palace,Man United,1,0,H,1,0,H,M Atkinson,6,...,12,22,3,6,2,4,0,0,1,1
1516,Leicester,Southampton,4,1,H,0,0,D,J Moss,12,...,10,5,3,3,0,1,0,0,0,3
1517,Liverpool,Wolves,3,1,H,1,1,D,A Taylor,29,...,6,3,5,3,1,0,0,0,0,2
1518,Man City,Aston Villa,3,2,H,0,1,A,M Oliver,24,...,5,11,13,1,0,1,0,0,1,1
1519,Norwich,Tottenham,0,5,A,0,2,A,C Kavanagh,9,...,13,7,3,2,3,1,0,0,2,5

In [182]:
# Convert Categorical Variables to Numeric Variables [Home = 2, Draw = 1, Away = 0]

input_dataset["HomeTeam_code"] = input_dataset["HomeTeam"].astype("category").cat.codes
input_dataset["AwayTeam_code"] = input_dataset["AwayTeam"].astype("category").cat.codes
input_dataset["Referee_code"] = input_dataset["Referee"].astype("category").cat.codes
input_dataset["HTR_code"] = input_dataset["HTR"].astype("category").cat.codes
input_dataset["FTR_code"] = input_dataset["FTR"].astype("category").cat.codes

In [183]:
input_dataset

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,...,AY,HR,AR,HTGD,FTGD,HomeTeam_code,AwayTeam_code,Referee_code,HTR_code,FTR_code
0,Man United,Leicester,2,1,H,1,0,H,A Marriner,8,...,1,0,0,1,1,16,13,1,2,2
1,Bournemouth,Cardiff,2,0,H,1,0,H,K Friend,12,...,1,0,0,1,2,2,6,12,2,2
2,Fulham,Crystal Palace,0,2,A,0,1,A,M Dean,15,...,2,0,0,1,2,10,8,16,0,0
3,Huddersfield,Chelsea,0,3,A,0,2,A,C Kavanagh,6,...,1,0,0,2,3,11,7,4,0,0
4,Newcastle,Tottenham,1,2,A,1,2,A,M Atkinson,15,...,2,0,0,1,1,17,21,15,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515,Crystal Palace,Man United,1,0,H,1,0,H,M Atkinson,6,...,4,0,0,1,1,8,16,15,2,2
1516,Leicester,Southampton,4,1,H,0,0,D,J Moss,12,...,1,0,0,0,3,13,20,11,1,2
1517,Liverpool,Wolves,3,1,H,1,1,D,A Taylor,29,...,0,0,0,0,2,14,25,3,1,2
1518,Man City,Aston Villa,3,2,H,0,1,A,M Oliver,24,...,1,0,0,1,1,15,1,17,0,2
1519,Norwich,Tottenham,0,5,A,0,2,A,C Kavanagh,9,...,1,0,0,2,5,18,21,4,0,0

In [184]:
drop_cols2 = ["HomeTeam", "AwayTeam", "Referee", "FTR", "HTR"]
preprocessed_dataset = input_dataset.drop(columns = drop_cols2)
preprocessed_dataset

,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HF,AF,...,AY,HR,AR,HTGD,FTGD,HomeTeam_code,AwayTeam_code,Referee_code,HTR_code,FTR_code
0,2,1,1,0,8,13,6,4,11,8,...,1,0,0,1,1,16,13,1,2,2
1,2,0,1,0,12,10,4,1,11,9,...,1,0,0,1,2,2,6,12,2,2
2,0,2,0,1,15,10,6,9,9,11,...,2,0,0,1,2,10,8,16,0,0
3,0,3,0,2,6,13,1,4,9,8,...,1,0,0,2,3,11,7,4,0,0
4,1,2,1,2,15,15,2,5,11,12,...,2,0,0,1,1,17,21,15,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515,1,0,1,0,6,10,3,4,12,22,...,4,0,0,1,1,8,16,15,2,2
1516,4,1,0,0,12,7,6,2,10,5,...,1,0,0,0,3,13,20,11,1,2
1517,3,1,1,1,29,7,8,5,6,3,...,0,0,0,0,2,14,25,3,1,2
1518,3,2,0,1,24,4,5,2,5,11,...,1,0,0,1,1,15,1,17,0,2
1519,0,5,0,2,9,19,0,13,13,7,...,1,0,0,2,5,18,21,4,0,0

In [185]:
#Extracting Independent and dependent Variable

X = preprocessed_dataset.drop(columns = ['FTR_code'])
y = preprocessed_dataset['FTR_code']

In [186]:
# Splitting the dataset into training and test set.  
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test= train_test_split(X, y, test_size= 0.30, random_state=0)

In [187]:
# Feature Scaling  
from sklearn.preprocessing import StandardScaler

scaler_x= StandardScaler()    
x_train= scaler_x.fit_transform(X_train)    
x_test= scaler_x.transform(X_test)

In [188]:
# Using Logistic Regression as classifier
from sklearn.linear_model import LogisticRegression

model= LogisticRegression(solver='liblinear')  
model.fit(x_train, y_train)  
predictions = model.predict(x_test)

In [189]:
#Calculating accuracy
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, predictions)
print(accuracy)

1.0

In [190]:
#Creating the Confusion matrix for Logistic Regression

from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(y_test, predictions)  
cm

array([[156,   0,   0],
       [  0,  99,   0],
       [  0,   0, 201]], dtype=int64)

In [191]:
# Making search space = give values to hyperparameters that you want to search in order to find the best set of values
search_space = {
    "penalty" : ['l1', 'l2'],
    "C" : [0.1, 1, 10, 100, 200]
}

In [192]:
from sklearn.model_selection import GridSearchCV
#create the GridSearch object
GS = GridSearchCV(estimator = model,
                  param_grid = search_space,
                  scoring = ['accuracy', 'r2'],
                  refit = 'r2',
                  cv = 5,
                  verbose = 4)

In [193]:
GS.fit(x_train,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV 1/5] END C=0.1, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 2/5] END C=0.1, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 3/5] END C=0.1, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 4/5] END C=0.1, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 5/5] END C=0.1, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 1/5] END C=0.1, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 2/5] END C=0.1, penalty=l2; accuracy: (test=0.995) r2: (test=0.994) total time=   0.0s
[CV 3/5] END C=0.1, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 4/5] END C=0.1, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 5/5] END C=0.1, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 1/5] END C=1, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 2/5] END C=1, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 3/5] END C=1, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 4/5] END C=1, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 5/5] END C=1, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 1/5] END C=1, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 2/5] END C=1, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 3/5] END C=1, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 4/5] END C=1, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 5/5] END C=1, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 1/5] END C=10, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 2/5] END C=10, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 3/5] END C=10, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 4/5] END C=10, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 5/5] END C=10, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 1/5] END C=10, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 2/5] END C=10, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 3/5] END C=10, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 4/5] END C=10, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 5/5] END C=10, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 1/5] END C=100, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 2/5] END C=100, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 3/5] END C=100, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 4/5] END C=100, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 5/5] END C=100, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 1/5] END C=100, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 2/5] END C=100, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 3/5] END C=100, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 4/5] END C=100, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 5/5] END C=100, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 1/5] END C=200, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 2/5] END C=200, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 3/5] END C=200, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 4/5] END C=200, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 5/5] END C=200, penalty=l1; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 1/5] END C=200, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 2/5] END C=200, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 3/5] END C=200, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 4/5] END C=200, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s
[CV 5/5] END C=200, penalty=l2; accuracy: (test=1.000) r2: (test=1.000) total time=   0.0s

GridSearchCV(cv=5, estimator=LogisticRegression(solver='liblinear'),
             param_grid={'C': [0.1, 1, 10, 100, 200], 'penalty': ['l1', 'l2']},
             refit='r2', scoring=['accuracy', 'r2'], verbose=4)

In [194]:
print("Best Hyperparameters: ", GS.best_params_) # take the best model with the details that we searched for
print("Best Scores: ", GS.best_score_) # take the R^2 score of best model

Best Hyperparameters:  {'C': 0.1, 'penalty': 'l1'}
Best Scores:  1.0